<mat-toolbar class="container-fluid bg-dark shadow d-flex border-top">
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <a href="https://angular.io" target="_blank" class="mx-2 text-decoration-none m-1">
      <small class="btn btn-outline-secondary text-warning">Angular</small>
    </a>
    <a href="https://www.typescriptlang.org/" target="_blank" class="text-decoration-none m-1">
      <small class="btn btn-outline-secondary text-warning">Typescript</small>
    </a>
    <a href="https://api.exchangerate.host" target="_blank" class="text-decoration-none m-1">
      <small class="btn btn-outline-secondary text-warning">API Exchangerate</small>
    </a>
    <a href="https://material.angular.io/" target="_blank" class="text-decoration-none m-1">
      <small class="btn btn-outline-secondary text-warning">Angular Material</small>
    </a>
    <a href="https://ng-bootstrap.github.io/" target="_blank" class="text-decoration-none m-1">
      <small class="btn btn-outline-secondary text-warning">Angular Bootstrap</small>
    </a>
  </div>
</mat-toolbar>
