<mat-toolbar class="container-fluid bg-dark shadow d-flex border-top">
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <a href="https://angular.io" target="_blank" class="mx-2 badge rounded-pill text-bg-primary  m-1"> Angular</a>
    <a href="https://www.typescriptlang.org/" target="_blank"
      class="badge rounded-pill text-bg-primary  m-1">Typescript</a>
    <a href="https://api.exchangerate.host" target="_blank" class="badge rounded-pill text-bg-primary  m-1">API
      Exchangerate</a>
    <a href="https://material.angular.io/" target="_blank" class="badge rounded-pill text-bg-primary  m-1">Angular
      Material</a>
    <a href="https://ng-bootstrap.github.io/" target="_blank" class="badge rounded-pill text-bg-primary m-1">Angular
      Bootstrap</a>
  </div>
</mat-toolbar>
