<mat-toolbar class="container-fluid bg-dark shadow d-flex flex-row">
  <p>Tecnologias utilizadas:
    <a href="https://angular.io" target="_blank"> Angular</a> -
    <a href="https://www.typescriptlang.org/" target="_blank">Typescript</a> -
    <a href="https://api.exchangerate.host" target="_blank">API Exchangerate</a> -
    <a href="https://material.angular.io/" target="_blank">Angular Material</a> -
    <a href="https://ng-bootstrap.github.io/" target="_blank">Angular Bootstrap</a>
  </p>
</mat-toolbar>
