<div class="container-fluid bg-dark">
  <div class="w-100 pt-1 container">
    <div class="bg-transparent border-rounded rounded-2 shadow p-3 my-1">
      <h2 class="text-light">Aqui você poderá escolher entre diversas moedas e realizar a conversão destas
        moedas de maneira descomplicada:
      </h2>
      <p class="text-small text-white-50">basta selecionar a moeda que deseja converter, a moeda que deseja descobrir e
        informar o valor a ser convertido. Depois disso é só clicar em converter e obter o resultado em segundos
      </p>
    </div>

    <div class="row justify-content-start">
      <div class="col-md-4">
        <mat-form-field form-field class="w-100" id="myForm" (ngSubmit)="converter()">
          <mat-label>Moeda selecionada</mat-label>
          <mat-select [(value)]="moedaSelecionada" required aria-required="true">
            <mat-option *ngFor="let moeda of moedas" [value]="moeda.code">
              {{moeda.code}} - {{moeda.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Moeda convertida</mat-label>
          <mat-select [(value)]="moedaConvertida" required aria-required="true">
            <mat-option *ngFor="let moeda of moedas" [value]="moeda.code">
              {{moeda.code}} - {{moeda.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>

    <div class="row justify-content-start mb-1">
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Valor a ser convertido</mat-label>
          <input matInput [(ngModel)]="valor" type="number" min="1" required aria-required="true">
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>Resultado</mat-label>
          <input matInput [(ngModel)]="resultado" type="number" readonly disabled>
        </mat-form-field>
      </div>

      <div class="col-md-2">
        <mat-form-field class="w-100">
          <mat-label>Taxa aplicada</mat-label>
          <input matInput [(ngModel)]="taxa" type="number" readonly disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-start mb-1">
      <div class="col-md-4 d-flex justify-content-end">
        <button mat-button class="btn btn-success btn-lg d-flex justify-content-center mb-3"
          type="submit">
          <mat-icon class="mat-18 m-1">currency_exchange</mat-icon>
          Converter
        </button>
      </div>
    </div>
  </div>
</div>
