<div class="container-fluid bg-dark">
  <div class="row justify-content-start">
    <div class="col-md-6">
      <mat-form-field form-field class="w-100">
        <mat-label>Moeda selecionada</mat-label>
        <mat-select [(value)]="moedaSelecionada">
          <mat-option *ngFor="let moeda of moedas" [value]="moeda.code">
            {{moeda.code}} - {{moeda.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Moeda convertida</mat-label>
        <mat-select [(value)]="moedaConvertida">
          <mat-option *ngFor="let moeda of moedas" [value]="moeda.code">
            {{moeda.code}} - {{moeda.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row justify-content-start">
  </div>

  <div class="row justify-content-start">
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Valor a ser convertido</mat-label>
        <input matInput [(ngModel)]="valor" type="number">
      </mat-form-field>
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Resultado</mat-label>
        <input matInput [(ngModel)]="resultado" type="number" disabled>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="w-100">
        <mat-label>Taxa aplicada</mat-label>
        <input matInput [(ngModel)]="taxa" type="number" disabled>
      </mat-form-field>
    </div>
  </div>

  <!--USANDO PARA DEBUGAR
  <div class="row justify-content-center">
    <div class="col-md-6">
      <p class="text-light">valor para debug</p>
      <h1 class="text-light border p-3 bg-success">
        {{valor}} de {{moedaSelecionada}}
        corresponde à {{ resultado}}
        de {{moedaConvertida}}
      </h1>
    </div>
  </div>
  USANDO PARA DEBUGAR-->

  <div class="row justify-content-center">
    <div class="col-md-4">
      <button mat-button class="w-100 btn btn-success btn-lg d-flex justify-content-center" (click)="converter()">
        <mat-icon class="mat-18 m-1">currency_exchange</mat-icon>
        Converter
      </button>
    </div>
  </div>
</div>
