<div class="container-fluid d-flex bg-dark justify-content-center">
  <div class="w-100 pt-3 m-2 container justify-content-center">
    <mat-form-field>
      <mat-label>Filtro de Moedas</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. BRL" #input>
    </mat-form-field>

    <mat-table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header="sigla" sortActionDescription="Sort by sigla"> Sigla
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.code }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header="descricao" sortActionDescription="Sort by descrição"> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.description }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>>
      <mat-row *matRowDef="let row; columns: colunas;"></mat-row>>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Página de Moedas">
    </mat-paginator>
  </div>
</div>
