<div class="example-container container-fluid d-flex justify-content-between flex-wrap bg-dark">

  <div class="w-50 pt-5 m-2">
    <mat-table mat-table matSort [dataSource]="lista" (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z4">

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header="sigla"> Sigla </mat-header-cell>
        <mat-cell *matCellDef="let moeda"> {{ moeda.code }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header="descricao"> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let moeda"> {{ moeda.description }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>>
      <mat-row *matRowDef="let row; columns: colunas;"></mat-row>>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Página de Moedas">
    </mat-paginator>
  </div>
</div>
