<div class="container-fluid bg-dark d-flex overflow-x flex-column">
  <div class="pt-5 container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort sort="matSort">

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data da conversão </th>
        <td mat-cell *matCellDef="let row"> {{ row.data }} </td>
      </ng-container>

      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora da Conversão </th>
        <td mat-cell *matCellDef="let row"> {{ row.hora }} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor Informado </th>
        <td mat-cell *matCellDef="let row"> {{ row.valor }} </td>
      </ng-container>

      <ng-container matColumnDef="moedaSelecionada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Moeda selecionada </th>
        <td mat-cell *matCellDef="let row"> {{ row.moedaSelecionada }} </td>
      </ng-container>

      <ng-container matColumnDef="moedaConvertida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Moeda convertida </th>
        <td mat-cell *matCellDef="let row"> {{ row.moedaConvertida }} </td>
      </ng-container>

      <ng-container matColumnDef="resultado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado </th>
        <td mat-cell *matCellDef="let row"> {{ row.resultado }} </td>
      </ng-container>

      <ng-container matColumnDef="taxa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Taxa </th>
        <td mat-cell *matCellDef="let row"> {{ row.taxa }} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Excluir </th>
        <td> <button class="btn btn-danger">x</button> </td>
      </ng-container>
      <!--(click)="deleteItem()-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Página de Conversoes">
    </mat-paginator>
  </div>
</div>
