<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">

  <div class="container-fluid d-flex">

    <div class=" align-self-center m-0 text-light">

      <h4 class="bg-dark">CONVERSOR DE MOEDAS</h4>
      <small class="text-small">{{active}}</small>

    </div>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">

      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs d-sm-block">

        <li [ngbNavItem]="'HOME'">

          <a ngbNavLink routerLink="" id="home" class="m-0" (click)="isMenuCollapsed = true">HOME</a>

        </li>
        <li [ngbNavItem]="'LISTA DE MOEDAS'">

          <a ngbNavLink routerLink="lista" class="m-0" (click)="isMenuCollapsed = true">LISTA DE MOEDAS</a>

        </li>
        <li [ngbNavItem]="'HISTORICO DE CONVERSÕES'">

          <a ngbNavLink routerLink="historico" class="m-0" (click)="isMenuCollapsed = true">HISTORICO</a>

        </li>

      </ul>

    </div>

  </div>

</nav>
